/* COLORS
	--theme-red: #FF595E
	--theme-orange: #FF8600;
	--theme-yellow: #FFCA3A;
	--theme-green: #8AC926;
	--theme-cyan: #25CED1;
	--theme-blue: #1982C4;
	--theme-purple: #68419F;
	--theme-magenta: #B82EA3;

	--theme-white: #EEEEEE;
	--theme-black: ;
*/

.theme-light {
	--background-primary: #eeeeee;
	--background-secondary: #8ac926;
}


/* MARKDOWN ELEMENTS */
.tag {
	box-shadow: 1px 5px 10px #cccccc, 1px -5px 10px #ffffff;
	
}
.markdown-rendered h1, .markdown-rendered h2, .markdown-rendered h3, .markdown-rendered h4, .markdown-rendered h5, .markdown-rendered h6 {
	padding: 10px 20px;
	position: relative;
	border-radius: 10px;
	background: var(--background-secondary);
	box-shadow:  5px 5px 10px #cccccc,
             -5px -5px 10px #ffffff;
}

.view-content{
	border-radius: 10px;
	background: #eeeeee;
	box-shadow: inset 5px 5px 10px #cacaca,
            inset -5px -5px 10px #ffffff;

}

/* UI ELEMENTS */
.status-bar {
	--status-bar-background: #ffffffaa;
	--status-bar-border-color: #ffffff33;
	--status-bar-text-color: var(--text-normal);
}
.status-bar:after {
	content: '';
	position:absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
}