.theme-light {
	--link-unresolved-color: var(--text-normal);
}

.multi-select-pill-content {
  font-family: var(--font-monospace-override);
}

.metadata-container {
  font-size: 12pt;
  font-family: var(--font-monospace-override);
}

.cm-gutter {
  font-family: var(--font-monospace-override);
}
