.theme-light {
	--tag-color: var(--background-primary);
	--tag-color-hover: var(--background-primary);
	--tag-background: #FF8600AA;
	--tag-background-hover: #FFCA3A;
}

.theme-light {
	--link-color-hover: #25CED1;
	--link-unresolved-color: var(--text-normal);
}

.tag {
	font-size: 0.8em;
	font-family: "Segoe UI", "SF Pro Display" !important;
}